.nav-links {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: rgb(41, 41, 168);
  justify-content: flex-end;
  align-items: Center;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
  background-color: #0056b3; /* Change background color on hover */
  color: rgb(238, 48, 48); /* Change text color on hover */
}

.logout-button {
  color: white;
  background-color: rgb(41, 41, 168);
  border: none;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 14px;
  width: auto; /* for suto width size to make the Logout button stay at the end */
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff5555;
}
.Navbar .container {
  display: flex;
  width: 100%;
}

.company_title {
  flex: 1; /* Take up remaining space */
  display: flex; /* Enable flex properties */
  align-items: center; /* Vertically center the content */
  color: black;
}

.content {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.dashboard-section {
  display: flex;
  flex-wrap: wrap;
}

.latest_transactions {
  flex: 1;
  padding: 10px;
}

.Pie_chart {
  flex: 1;
  padding: 10px;
  width: 10%;
}

.message {
  margin-top: 20px;
}

Button {
  max-width: 20%;
}